* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}
/* Setting the position from the top */
.Gallery {
  position: absolute;
  top: 20%;
  left: 1%;
  padding: 10px;
}
body {
  font-family: "Abril Fatface", cursive;
  height: 100vh;
}
/* seting width of the main picture and its height*/
.gallery-highlight {
  width: 100%;
  height: 70%;
}

section {
  display: flex;
  height: 100vh;
}
.room-gallery {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.room-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111111;
}

.room-preview {
  display: flex;
  width: 80%;
}
.room-preview {
  margin-left: 15%;
  height: 100px;
  flex-grow: 1;
  cursor: pointer;
}

.room-description a {
  padding: 10px;
  background-color: lightgrey;
  color: #111111;
  border: solid 2px;
}
