* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  position: absolute;
  top: 2%;
  left: 2%;
  font-family: "Abril Fatface", cursive;
  color: white;
  align-items: center;
  font-size: 26px;
  border: solid;
  border-color: black;
  padding: 5px;
}
nav {
  position: absolute;
  top: 13%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}
nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav a:hover {
  color: darkgrey;
}
nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

a {
  color: #111111;
  text-decoration: none;
}
nav ul li a:last-child {
  margin-right: 0;
}
nav ul li a {
  padding: 0;
  font-family: "Bungee", cursive;
  transition: all. 4s ease-in-out;
  font-size: 13px;
}

/* navigation hover animation */
nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: grey;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}
nav ul li a::after {
  bottom: 0;
  transform-origin: left;
}
nav ul li a::before {
  top: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}
/*  hover animation end*/

/*Scroll indicator  */
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.bar {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.scroll-indicator {
  height: 8px;
  background: #111111;
  width: 0%;
}
/* Scroll indicator end*/
