/* About page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.style_images {
  display: block;
  position: absolute;
  left: 970px;
  top: 180px;
}

ul li {
  list-style: none;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  transition: 0.5s;
  position: relative;
  transition: 0.5s ease-in-out;
}
.SM {
  position: absolute;
  top: 90%;
  left: 20%;
  color: black;
}

.photo {
  position: absolute;
  top: 70%;
  left: 25%;
  font-size: 25px;
  padding: 10px;
  background-color: lightgrey;
  border: solid 2px black;
}

/* About page end*/

/* FOR CONTACTS page */

.wrapper {
  position: absolute;
  top: 60%;
  left: 27%;
  line-height: 40px;

  width: 700px;
  border: solid 10px;
  border-color: lightgrey;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.notice {
  margin-top: 15%;
  margin-right: 30%;
  margin-left: 30%;
  text-align: center;
}
.social {
  top: 150%;
  left: 40%;
  position: absolute;
  color: grey;
}
.social ul li {
  list-style: none;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  transition: 0.5s;
  position: relative;
}

/*///////////// Contact page end///////////////////////////////*/

/* CSS FOR PORTFOLIO */

.main {
  margin-top: 10%;
  left: 25%;
  display: flex;
  padding: 50px;
  margin-left: 50px;
  line-height: 25px;
}

.infoleft {
  flex: 30%;
  padding: 20px;
  border: solid 10px;
  border-color: lightgrey;
  align-items: left;
  justify-content: center;
  font-size: 20px;
}

.inforight {
  flex: 75%;
  padding: 20px;
  border: solid 10px;
  border-color: lightgrey;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

/* ////////////// Portoflio end ////////////////////*/

/* CSS FOR BLOG */

.blog {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.container {
  position: relative;
  width: 20%;
  display: grid;
  grid-template-columns: repeat(auto-fill, min-max(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 40px;
  padding: 10px;
}
.container .box {
  position: relative;
  height: 400px;
  display: flex;
  background-color: white;
  align-items: center;
  border: 1px solid #111111;
  padding: 10px;
}
.container .box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  transform: skew(2deg, 2deg);
  z-index: -1;
}
/* color for border */
.container .box:nth-child(1):before {
  background: linear-gradient(315deg, #111111, grey);
}

.container .box :after {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.content {
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}
/* animation for the blog tag e.g 01, 02 etc..*/
.content h1 {
  position: absolute;
  top: -60px;
  right: 10px;
  margin: 0;
  padding: 0;
  font-size: 5em;
  color: #111111;
  transition: 1s;
}
.box:hover .content h1 {
  top: -100px;
}
.content h3 {
  margin: 10px;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
  color: #111111;
}
.content p {
  margin: 0;
  padding: 0;
  color: #111111;
}
.content a {
  position: relative;
  margin-top: 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #111111;
  display: inline-block;
  color: #111111;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
/* read more anchor tag animation*/
.box:hover .content a {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.content a:hover {
  color: grey;
  background-color: lightgrey;
}

/* ////////////BLOG END ///////////////// */

/* CSS FOR Research */
.compare {
  position: absolute;
  top: 200px;
  left: 21px;
  width: 90%;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
}

.compare table {
  width: 90%;
  border: solid 10px lightgrey;
  margin-bottom: 200px;
}
.compare table tr td {
  padding: 15px;
}

/* /////////RESEARCH END/////////////// */
